html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color:blueviolet;
    color: aquamarine;
    overflow-x: hidden;
    padding-top: 56px; /* Account for fixed navbar */
}

/* Footer */
.footer {
    background-color: #00BCD4;
    color: #fff;
    text-align: center;
    flex-shrink: 0
}