@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aquarium Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="pt-5 pb-5">
   <h1 class="text-center p-1">Welcome to the Aquarium Database!</h1>
</body>